/* css 변수 */
:root {
  /* 이건 전역 상속 */
  --red: #f00;
  --green: #0f0;
  --blue: #00f;

  body {
    --text-color: var(--green) /* --main-color: rgb(149, 212, 61); */ margin: 50px;
    background: #ffc;
  }
}

a {
  --text-color: var(--pink, #f0f);
  span {
    color: var(--text-color);
  }
}

h1 {
  --text-color: var(--blue, rgb(0, 255, 42));
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

div {
  color: var(--text-color);
}
