:root {
  --black: #111;
  --white: #fff;
}

body {
  margin: 50px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.table-wrapper {
  /* background: var(--yellow); */
  height: 500px;
  overflow-y: auto;

  table {
    border: 1px solid currentColor;
    inline-size: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.number {
  inline-size: 10%;
}

.name {
  inline-size: 10%;
}

.email {
  inline-size: 10%;
}

.phone {
  inline-size: 10%;
}

th,
td {
  /* border: 1px solid currentColor; */
  padding: 1em;
}

td {
  text-align: center;
}

thead,
tfoot {
  color: var(--white);
  background: var(--black);
}

tbody tr:nth-child(even) {
  background: var(--gray);
}

thead {
  position: sticky;
  top: 0;
}

/* 전체 테이블 래퍼 크기 지정 */
/* .table-wrapper {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
table-styling {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 500px;
}
.table-styling th,
.table-styling td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
} */
